html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

@font-face {
	font-family: 'Concert One';
  font-style: normal;
  font-weight: 400;
  src: local('Concert One'),
       local('Concert_One'),
			 url(Concert_One/ConcertOne-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato'),
       local('Lato-Regular'),
			 url(Lato/Lato-Regular.ttf) format('truetype');
}

html {
	font-size: 125%;
	overflow: hidden;
}

body {
	background-image:-webkit-gradient(linear, 56% 37%, 0% 100%, from(#2E5D9F), to(#F2EDD7), color-stop(.8,#D7C49E));
	height: 100%;
}

.wrapper {
	max-width: 1280px;
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

h1 {
	margin: 40px 0 0px;
	padding: 0;
	color: #d7c49e;
	font-size: 5rem;
	font-family: 'Concert One', cursive;
	text-shadow: 
    1px 2px 0 #000,
    -1px 2px 0 #000,
    1px -2px 0 #000,
    -1px -2px 0 #000,
    2px 1px 0 #000,
    -2px 1px 0 #000,
    2px -1px 0 #000,
    -2px -1px 0 #000;
}

header p {
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 1.5rem;
}

.canvasContainer {
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
}

canvas {
	margin: 50px;
	border: 1px solid black;
}

@media (max-width: 630px) {
	.canvasContainer {
		width: 100%;
	}

	canvas {
		width: 90%;
		margin: 50px 0;
	}
}

@media (max-width: 480px) {
	h1 {
		font-size: 4rem;
	}

	header p {
		font-size: 1.2rem;
	}

	canvas {
		width: 100%;
	}
}